body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

.fadealert { display: none; position: absolute; left: 1em; bottom: 1em; }

#topnav > p { text-align: center;  font-weight: bold; margin: 56px auto 0; width: 320px; }
#topnav-homelink img { display: inline-block; height: 32px; width: 32px; background-color: white; }
#topnav + div { margin-top: 43px; }
#body-container > .row { overflow: hidden; }
	#body-container > .row > [class*="col-"] { margin-bottom: -99999px; padding-bottom: 99999px; }
#sidebar { min-height: 640px; }
	#sidebar > div { padding: 1em; border-bottom: 1px solid #ccc; margin-bottom: 1em; }
	#sidebar > div:first-child { padding-top: 2em; }
	#sidebar h3 {  margin-top: 0; }
	#sidebar a:hover { text-decoration:underline; }
footer { text-align: right; margin-right: 1em; }

/* Academy List */
.academy-list-item { padding: .5em .5em 1em; box-shadow: 2px 2px 5px #333; margin-bottom: 1em; }
	.academy-list-item .academy-title { font-weight: bold; }
	.academy-list-item .academy-logo { max-width: 100%; max-height: 320px; margin: .75em; }
	.academy-list-item .academy-featured { color: white; background-color: red; display: inline-block; padding: 4px 8px; border-radius: 4px; margin: .5em -25px .5em .5em; width: 100%; text-align: left; }
	.academy-list-item .academy-check { margin: .5em 0; }
	.academy-list-item .academy-actions { margin: 1em 0; }
	.academy-list-item .academy-sidebar { padding: 10px; } 
