
@{
	ViewBag.Title = "Pro Tennis Academy";
	ViewBag.ActiveMenu = "Academies";
}

@section styles{
	<style>
		th, td { padding: .25em .5em; }
	</style>
}

@section sidebar{
	<div>
		<h3>Pro Tennis Academy</h3>
	</div>	
	<div>
		<p>
			Our mission at Pro Tennis Academy is to provide a world class standard of coaching and programming instruction for our students to reach their highest potential.
			We utilize the most up to date industry techniques in an exceptional training environment.
		</p>
		<p>
			Each member of our Pro Tennis Coaching Staff has an outstanding resume with international experience.
			Located at GT Bray Park in beautiful Bradenton Florida, Pro Tennis Academy training facilities offers instruction for all ages,
			experience levels and long term student objectives.
		</p>

	</div>
	<div>
		<h4>Contact Pro Tennis Academy</h4>
		Call: <a href="tel:941.580.7794">941.580.7794</a>
		<br />
		Email: <a href="mailto:DenisPelegrin@yahoo.com">DenisPelegrin@yahoo.com</a>
		<h4>Pro Tennis Training Facilities</h4>
		<address>
			GT Bray Recreation Complex
			<br />5502 33rd Ave Dr W
			<br />Bradenton, FL 34209
		</address>
	</div>
}

<div class="pull-right">
	<a class="btn btn-lg" href="@Url.Action("Academies", "Home")">
		<span class="glyphicon glyphicon-chevron-left"></span>
		Back to List
	</a>
</div>

<div class="page-header text-center">
	<h2>Pro Tennis Academy</h2>
</div>

<div class="text-center">
	<img src="http://tennisprogram.net/wp-content/uploads/2016/07/serve-practice.jpg" alt="Serve Practice at Pro Tennis Academy" style="max-width: 90%">
</div>

<h3>Pro Tennis Academy Summer Offerings</h3>
<p>Each Summer Pro Tennis Academy offers programming as well as private coaching for beginner levels to professional students.</p>

<h4>10 & Under Summer</h4>
<p>
	Pro Tennis Academy is offering a summer camp for beginner from the age of 4 to 10 years old. 
	It is designed for kids that love to play tennis. 
	Campers will learn and improve their game through a systematic development program worldwide approved by the international Tennis Federation (ITF) 
	and the United State Tennis Association(USTA).
</p>

<ul>
	<li>Where: G.T.Bray Park</li>
	<li>When: Monday-Thursday-  9:00am to 12:00pm.</li>
	<li>Fee. $ 99/week.</li>
</ul>

<h3>Summer/Weekly Program</h3>
<p>
	Our summer camp is designed to polish every stroke to ensure that each player will be able to learn the fundamentals of the game 
	by adapting the most efficient technique in a daily basis to allow the player reach the next level according to his/her individual skills.
</p>

<h3>Summer camp overview</h3>
<p>
	Monday: Forehand; player will learn and work how to develop a weapon plus serve. <br/>
	Tuesday: Backhand to maximize and convert this stroke into a strength plus serve.<br/>
	Wednesday: 3/4 of the court game, swing volley, approach, volley smash, slice, drop shot plus serve.<br/>
	Thursday: Live ball tactical training, serve plus GAMES<br/>
	Friday:  Review all the last four days.<br/>
	Saturday: USTA Local tennis tournament or field trip
</p>
<p>
	We offer: ITF COSAT Circuit camp preparation, ITF COTECC Circuit camp training, ITF USA Eddie Herr and Orange Bowl Training,
	Davis Cup and Fed Cup preparation, Full fitness program plus beach workout, and Tennis camp combined with English classes.
	Overall Summer camp offers field trips to all Theme Parks around the area such as Disney World, Universal Studios, Bush Gardens, water parks and more.
	The program must be paid in full before the program start day.
</p>

<h3>Summer/Weekly Schedule</h3>
<table>
	<tr><td style="text-align:right">7:45 to 8:00 AM</td><td>Dynamic Warm Up</td></tr>
	<tr><td style="text-align:right">8:00 to 8:25 AM</td><td>Tennis Warm Up</td></tr>
	<tr><td style="text-align:right">8:25 to 10:00 AM</td><td>Program</td></tr>
	<tr><td style="text-align:right">10:00 to 11:00 AM</td><td>Fitness</td></tr>
	<tr><td style="text-align:right">2:00 to 4:00 PM</td><td>Match Play</td></tr>
</table>

<h3>Summer/Weekly Pricing</h3>
<table>
	<thead>
		<tr><th></th><th>Full Day</th><th>Morning</th><th>Afternoon</th></tr>
	</thead>
	<tbody>
		<tr><td>Monthly</td><td style="text-align:right">$3,000</td><td style="text-align:right">$2,250</td><td style="text-align:right">$1,500</td></tr>
		<tr><td>Weekly</td><td style="text-align:right">$850</td><td style="text-align:right">$700</td><td style="text-align:right">$400</td></tr>
		<tr><td>Daily</td><td style="text-align:right">$175</td><td style="text-align:right">$130</td><td style="text-align:right">$80</td></tr>
	</tbody>	
</table>

<div class="pull-right">
	<a class="btn btn-lg" href="@Url.Action("Academies", "Home")">
		<span class="glyphicon glyphicon-chevron-left"></span>
		Back to List
	</a>
</div>

<p>&nbsp;</p>