@{
	ViewBag.Title = "";
	ViewBag.ActiveMenu = "Home";
}

@section sidebar{
	<div>
		<h3>About Tennis Market Plus</h3>
	</div>
	<p>
		Tennis Market Plus is the best place to find tennis camps or classes for you or your child.
	</p>
}

@section styles{
	<style>
		p > img { max-height: 200px; max-width: 300px; }
		p > img.pull-right { margin: 0 0 .5em .5em; }
		p > img.pull-left { margin: 0 .5em .5em 0; }
	</style>
}

<div class="page-header">
	<h2>
		Tennis Market Plus
		<small> is your one-stop shop for all things Tennis.</small>
	</h2>
</div>
<p>
	<strong>
		This is your landing page. Your sales and marketing materials will send potential users here. This is the page you want optimized for search engines.
	</strong>
</p>
<p>
	<img src="~/Content/Images/tennis-1.jpg" class="pull-right" />
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempus tellus et nisl luctus, ac pulvinar est consectetur. Maecenas vitae felis justo. Vivamus accumsan ex gravida nisl varius gravida. Vestibulum porttitor nisi vitae viverra egestas. Praesent metus lorem, hendrerit eget eros vel, tempus semper purus. Morbi ut rhoncus arcu, quis molestie sem. Quisque felis mi, cursus nec sodales vitae, rhoncus id diam. Suspendisse dignissim ligula sit amet risus tincidunt dignissim. Sed laoreet euismod pretium. Donec id convallis orci. Donec et magna risus. Maecenas quis suscipit nunc, in auctor metus.
	Nunc molestie gravida est vitae porta. In sed dui id ipsum efficitur porttitor. Donec ornare convallis mauris, vel cursus neque tempus sit amet. Nunc ultrices, metus ut tincidunt convallis, nibh enim ullamcorper quam, lobortis interdum augue dolor at dolor. In sed ullamcorper sapien, sed elementum est. Suspendisse molestie augue sit amet maximus dictum. Aenean ante ante, aliquet quis enim eget, accumsan mattis nisl. Praesent vitae pharetra lacus. Proin laoreet hendrerit posuere.
	Mauris auctor, arcu non cursus semper, odio ligula pretium risus, sit amet sodales nisl turpis et nulla. Curabitur consectetur vestibulum enim, sed fringilla lacus. Donec et viverra erat. Pellentesque vehicula orci ut leo feugiat sodales. Proin in feugiat lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer diam dolor, auctor id enim id, hendrerit luctus quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer congue mauris ut sem aliquet vehicula. Quisque erat felis, blandit scelerisque ex eget, mollis fermentum leo. Curabitur augue erat, porttitor quis tincidunt finibus, molestie condimentum turpis. Quisque in gravida eros. Proin a viverra quam, eu pellentesque eros.
</p>
<p>
	<img src="~/Content/Images/tennis-2.jpg" class="pull-left" />
	Sed quis sodales orci. Pellentesque tempor accumsan bibendum. Cras fringilla elit sed eros ullamcorper convallis. Maecenas non risus vitae elit viverra iaculis. Sed ultrices sit amet nulla ut suscipit. Nam consectetur urna quis placerat tincidunt. Cras pellentesque aliquam efficitur.
	Etiam nunc elit, gravida nec orci a, varius placerat lectus. Mauris sed magna sem. Quisque rutrum a nisi in porta. Suspendisse id sagittis justo. Phasellus varius euismod magna vel euismod. Vivamus eget leo rhoncus, dapibus lorem at, molestie odio. Suspendisse ut molestie sapien, eget tempor dui.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempus tellus et nisl luctus, ac pulvinar est consectetur. Maecenas vitae felis justo. Vivamus accumsan ex gravida nisl varius gravida. Vestibulum porttitor nisi vitae viverra egestas. Praesent metus lorem, hendrerit eget eros vel, tempus semper purus. Morbi ut rhoncus arcu, quis molestie sem. Quisque felis mi, cursus nec sodales vitae, rhoncus id diam. Suspendisse dignissim ligula sit amet risus tincidunt dignissim. Sed laoreet euismod pretium. Donec id convallis orci. Donec et magna risus. Maecenas quis suscipit nunc, in auctor metus.
</p>
<p>
	<img src="~/Content/Images/tennis-3.jpg" class="pull-right" />
	Nunc molestie gravida est vitae porta. In sed dui id ipsum efficitur porttitor. Donec ornare convallis mauris, vel cursus neque tempus sit amet. Nunc ultrices, metus ut tincidunt convallis, nibh enim ullamcorper quam, lobortis interdum augue dolor at dolor. In sed ullamcorper sapien, sed elementum est. Suspendisse molestie augue sit amet maximus dictum. Aenean ante ante, aliquet quis enim eget, accumsan mattis nisl. Praesent vitae pharetra lacus. Proin laoreet hendrerit posuere.
	Mauris auctor, arcu non cursus semper, odio ligula pretium risus, sit amet sodales nisl turpis et nulla. Curabitur consectetur vestibulum enim, sed fringilla lacus. Donec et viverra erat. Pellentesque vehicula orci ut leo feugiat sodales. Proin in feugiat lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer diam dolor, auctor id enim id, hendrerit luctus quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer congue mauris ut sem aliquet vehicula. Quisque erat felis, blandit scelerisque ex eget, mollis fermentum leo. Curabitur augue erat, porttitor quis tincidunt finibus, molestie condimentum turpis. Quisque in gravida eros. Proin a viverra quam, eu pellentesque eros.
	Sed quis sodales orci. Pellentesque tempor accumsan bibendum. Cras fringilla elit sed eros ullamcorper convallis. Maecenas non risus vitae elit viverra iaculis. Sed ultrices sit amet nulla ut suscipit. Nam consectetur urna quis placerat tincidunt. Cras pellentesque aliquam efficitur.
</p>
<p>
	<img src="~/Content/Images/tennis-4.jpg" class="pull-left" />
	Etiam nunc elit, gravida nec orci a, varius placerat lectus. Mauris sed magna sem. Quisque rutrum a nisi in porta. Suspendisse id sagittis justo. Phasellus varius euismod magna vel euismod. Vivamus eget leo rhoncus, dapibus lorem at, molestie odio. Suspendisse ut molestie sapien, eget tempor dui.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempus tellus et nisl luctus, ac pulvinar est consectetur. Maecenas vitae felis justo. Vivamus accumsan ex gravida nisl varius gravida. Vestibulum porttitor nisi vitae viverra egestas. Praesent metus lorem, hendrerit eget eros vel, tempus semper purus. Morbi ut rhoncus arcu, quis molestie sem. Quisque felis mi, cursus nec sodales vitae, rhoncus id diam. Suspendisse dignissim ligula sit amet risus tincidunt dignissim. Sed laoreet euismod pretium. Donec id convallis orci. Donec et magna risus. Maecenas quis suscipit nunc, in auctor metus.
	Nunc molestie gravida est vitae porta. In sed dui id ipsum efficitur porttitor. Donec ornare convallis mauris, vel cursus neque tempus sit amet. Nunc ultrices, metus ut tincidunt convallis, nibh enim ullamcorper quam, lobortis interdum augue dolor at dolor. In sed ullamcorper sapien, sed elementum est. Suspendisse molestie augue sit amet maximus dictum. Aenean ante ante, aliquet quis enim eget, accumsan mattis nisl. Praesent vitae pharetra lacus. Proin laoreet hendrerit posuere.
</p>
<p>
	<img src="~/Content/Images/tennis-5.jpg" class="pull-right" />
	Mauris auctor, arcu non cursus semper, odio ligula pretium risus, sit amet sodales nisl turpis et nulla. Curabitur consectetur vestibulum enim, sed fringilla lacus. Donec et viverra erat. Pellentesque vehicula orci ut leo feugiat sodales. Proin in feugiat lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer diam dolor, auctor id enim id, hendrerit luctus quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer congue mauris ut sem aliquet vehicula. Quisque erat felis, blandit scelerisque ex eget, mollis fermentum leo. Curabitur augue erat, porttitor quis tincidunt finibus, molestie condimentum turpis. Quisque in gravida eros. Proin a viverra quam, eu pellentesque eros.
	Sed quis sodales orci. Pellentesque tempor accumsan bibendum. Cras fringilla elit sed eros ullamcorper convallis. Maecenas non risus vitae elit viverra iaculis. Sed ultrices sit amet nulla ut suscipit. Nam consectetur urna quis placerat tincidunt. Cras pellentesque aliquam efficitur.
	Etiam nunc elit, gravida nec orci a, varius placerat lectus. Mauris sed magna sem. Quisque rutrum a nisi in porta. Suspendisse id sagittis justo. Phasellus varius euismod magna vel euismod. Vivamus eget leo rhoncus, dapibus lorem at, molestie odio. Suspendisse ut molestie sapien, eget tempor dui.
</p>

@*<div class="jumbotron">
	<h1>ASP.NET</h1>
	<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
	<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Getting started</h2>
		<p>
			ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
			enables a clean separation of concerns and gives you full control over markup
			for enjoyable, agile development.
		</p>
		<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Get more libraries</h2>
		<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
		<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Web Hosting</h2>
		<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
		<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
	</div>
</div>*@