
@{
	ViewBag.Title = "Store";
	ViewBag.ActiveMenu = "Store";
}

@section sidebar{
	<div>
		<h3>Shop on Tennis Market Plus</h3>
	</div>
}

<div class="page-header">
	<h2>Store</h2>
</div>

<p>This is where we would create the Tennis Market Plus Store App for online shopping - but that's for a later date.</p>

<div style="min-height:200px;"></div>

